name: Pipeline Test
on:
  pull_request:
    branches:
      - main
    types: [closed]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Copy file via scp
